{% include "header.html" %}

<body>
{% load static %}
{% include "navbar.html" %}

<div class="jumbotron jumbotron-fluid mb-0" style="background-color: #1c1f22">
    <div class="container" style="min-width: 100%">
        <h2 class="text-info font-weight-bold">How can we help you?</h2>
    </div>
</div>

<!-- Main -->
<main class="main container-fluid">

    <div class="row bg-dark">
        <div class="col p-5">
            <div id="accordion" class="accordion text-left">
                <div class="card card-accordion">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                Configuring SSH on your Cisco device
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ol style="line-height: 100%; max-width: 50%">
                                <li>Set hostname & domain-name<br>
                                    <img src="{% static 'images/hostname.png' %}" alt="Image Not Found">
                                </li>
                                <li>Generate RSA Keys<br>
                                    <img src="{% static 'images/rsa.png' %}" alt="Image Not Found">
                                </li>
                                <li>Line VTY Configuration<br>
                                    <img src="{% static 'images/vty.png' %}" alt="Image Not Found">
                                </li>
                                <li>Create User Account<br>
                                    <img src="{% static 'images/user.png' %}" alt="Image Not Found">
                                    <label class="text-danger">Users with a privilege lower than 15 will not be able to
                                        make configuration changes</label>
                                </li>
                                <li>Verify SSH<br>
                                    <img src="{% static 'images/ssh.png' %}" alt="Image Not Found">
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Adding a New Device
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p class="font-weight-bold">All devices within your topology need to be added to the
                                management database to allow connections and configurations</p>
                            <ol style="line-height: 150%">
                                <li>Navigate to the Device Manager page</li>
                                <li>Click the Add New Device button<br>
                                    <img class="border rounded m-2" src="{% static 'images/add.png' %}"
                                         alt="Image Not Found" style="width: 1500px;">
                                </li>
                                <li>Enter the device information in the dropdown</li>
                                <li>Click Add Device button when finished<br>
                                    <label class="text-danger">NOTE: New devices are not configured with login
                                        credentials. Go to the device settings to update security settings</label>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                Editing Device Settings
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ol style="line-height: 150%">
                                <li>Navigate to the Device Manager page</li>
                                <li>Click the device settings button on a device<br>
                                    <img class="border rounded m-2" src="{% static 'images/settings.png' %}"
                                         alt="Image Not Found" style="width: 1500px;">
                                </li>
                                <li>You will be redirected to that devices settings page</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                Device Configuration
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <h5>Device connected:</h5>
                            <ol style="line-height: 150%">
                                <li>Navigate to the device manager page</li>
                                <li>Click the configuration button on a device<br>
                                    <img class="border rounded m-2" src="{% static 'images/configure.png' %}"
                                         alt="Image Not Found" style="width: 1500px;">
                                </li>
                                <li>You will be redirected to that devices configuration page</li>
                            </ol>
                            <h5>Device not connected:</h5>
                            <ol style="line-height: 150%">
                                <li>
                                    <p>
                                        If this is symbol is displayed, it means NetManager has been unable to establish
                                        a connection to this device<br>
                                        <img class="border rounded m-2" src="{% static 'images/alert.png' %}"
                                             alt="Image Not Found"><br>
                                        <label class="text-warning mb-0">
                                            Remember! New devices are configured without login information.
                                            Try updating this devices security credentials in the device settings
                                        </label><br>
                                        <label class="text-danger mb-0">
                                            If issue persists, check the SSH configuration or connection on your device
                                        </label>
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                Configuring & Resetting an Interface
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <h5>Configuring:</h5>
                            <ol style="line-height: 150%">
                                <li>Navigate to the device configuration page<br>
                                    <label class="text-info">Unsure how to do this? See 'Device
                                        Configuration'</label>
                                </li>
                                <li>From the 'Device Interfaces' widget, select the interface you wish to configure
                                    <img class="border rounded m-2" src="{% static 'images/int-config.png' %}"
                                         alt="Image Not Found"></li>
                                <li>In the pop-up, specify the interfaces IP address, subnet
                                    mask and enable status
                                </li>
                                <li>Click 'Yes' in the pop-up to confirm</li>
                            </ol>
                            <h5>Resetting:</h5>
                            <ol style="line-height: 150%">
                                <li>Navigate to the device configuration page</li>
                                <li>From the 'Device Interfaces' widget, select the interface you wish to reset
                                    <img class="border rounded m-2" src="{% static 'images/int-reset.png' %}"
                                         alt="Image Not Found"></li>
                                <li>Click 'Yes' in the pop-up to confirm the reset</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                Saving Device Configuration
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            <ol style="line-height: 150%">
                                <li>Navigate to the device configuration page<br>
                                    <label class="text-info">Unsure how to do this? See 'Device
                                        Configuration'</label>
                                </li>
                                <li>In the device configuration page, navigate to the 'Device Details' widget</li>
                                <li>Click the Save Configuration button<br>
                                    <img class="border rounded m-2" src="{% static 'images/save.png' %}"
                                         alt="Image Not Found" style="width: 325px; height: 400px"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseSeven"
                                    aria-expanded="false" aria-controls="collapseSeven">
                                Sending Configuration Manually
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            <ol style="line-height: 150%">
                                <li>Navigate to the device configuration page<br>
                                    <label class="text-info">Unsure how to do this? See 'Device
                                        Configuration'</label>
                                </li>
                                <li>In the device configuration page, navigate to the 'Device Details' widget</li>
                                <li>Click the Send Configuration Manually button<br>
                                    <img class="border rounded m-2" src="{% static 'images/manual.png' %}"
                                         alt="Image Not Found" style="width: 325px; height: 400px"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card card-accordion">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn collapsed font-weight-bold text-light" data-toggle="collapse"
                                    data-target="#collapseEight"
                                    aria-expanded="false" aria-controls="collapseEight">
                                Managing Access Lists
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            <ol>
                                <li>Navigate to the device configuration page<br>
                                    <label class="text-info">Unsure how to do this? See 'Device
                                        Configuration'</label>
                                </li>
                                <li>In the device configuration page, navigate to the 'Device Security Features'
                                    widget
                                </li>
                                <li>Click 'Manage Access Lists'</li>
                            </ol>
                            <h5>Creating Access Lists</h5>
                            <ol style="line-height: 150%">
                                <li>Fill out the 'Edit and Create Access List' form (shown below)<br>
                                    <label class="text-warning">Access lists can be created without specifying a command</label><br>
                                    <img class="border rounded m-2" src="{% static 'images/acl-create.png' %}"
                                         alt="Image Not Found" style="width: 700px; height: 600px"></li>
                                <li>Click the 'Push Changes' button to create the new access list</li>
                            </ol>
                            <h5>Editing Access Lists</h5>
                            <ol style="line-height: 150%">
                                <li>Use the 'Edit and Create Access List' form using the <b>name of the access list</b> you want to edit<br>
                                <label class="text-warning">This will append a new line to the existing access list</label></li>
                                <li>Click the 'Push Changes' button to add the new line</li>
                            </ol>
                            <h5>Deleting Access Lists</h5>
                            <ol style="line-height: 150%">
                                <li>Select the access list you wish to delete from the 'Delete Access List' form<br>
                                <img class="border rounded m-2" src="{% static 'images/acl-delete.png' %}"
                                         alt="Image Not Found" style="width: 700px; height: 600px"></li>
                                <li>Click the 'Delete Access List' button</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- NEW HELP TABS HERE!-->
            </div>
        </div>
    </div>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include "footer.html" %}
</body>
</html>