{% include "header.html" %}

<body>
{% load static %}
{% include "navbar.html" %}

<!-- Main -->
<main class="main container-fluid">

    <div class="widgets-grid">
        <!-- Top Widgets -->
        <div class="row mb-2">
            <!-- Device Details -->
            <div class="col-3 widget">
                <h3 class="title">Device Details</h3>
                <table class="table table-striped table-dark">
                    <tbody class="text-left">
                    {% for j in version %}
                        <tr>
                            <td><b>Device Name</b></td>
                            <td>{{ device.device }}</td>
                        </tr>
                        <tr>
                            <td><b>Device Type</b></td>
                            <td>{{ device.deviceType }}</td>
                        </tr>
                        <tr>
                            <td><b>Device Vendor</b></td>
                            <td>{{ device.vendor }}</td>
                        </tr>
                        <tr>
                            <td><b>SSH IP Address</b></td>
                            <td>{{ device.host }}</td>
                        </tr>
                        <tr>
                            <td><b>Hardware Type</b></td>
                            <td>{{ device.vendor }} {{ j.hardware }}</td>
                        </tr>
                        <tr>
                            <td><b>Uptime</b></td>
                            <td>{{ j.uptime }}</td>
                        </tr>
                        <tr>
                            <td><b>IOS Version</b></td>
                            <td>{{ j.version }}</td>
                        </tr>
                        <tr>
                            <td><b>Location</b></td>
                            <td>{{ device.location }}</td>
                        </tr>
                        <tr>
                            <td><b>Contact</b></td>
                            <td>{{ device.contact }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <a href="{% url 'save_config' device_ID=device.pk %}" type="button"
                       class="btn btn-warning btn-block"
                       title="Save Configuration">Save Device
                        Configuration
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-save btn-icon" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Interface Brief -->
            <div class="col-6 ml-2 table-responsive widget" style="height: 550px">
                <h3 class="title">Device Interfaces</h3>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>Interface</th>
                        <th>IP Address</th>
                        <th>Status</th>
                        <th>Protocol</th>
                        <th>IP Config</th>
                        <th>Reset</th>
                        <th>More Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in interfaces %}
                        <tr>
                            <td>{{ i.intf }}</td>
                            <td>{{ i.ipaddr }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.proto }}</td>
                            <td>
                                {% if i.ipaddr == device.host %}
                                    <!-- Disable configuring SSH interface -->
                                    (Disabled)
                                {% else %}
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                            data-target="#interfaceModal" title="Configure Interface"
                                            id="{{ i.intf }}" onclick="getID(this.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-tools btn-icon" viewBox="0 0 16 16">
                                            <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"></path>
                                        </svg>
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if i.ipaddr == device.host %}
                                    <!-- Disable resetting SSH interface -->
                                    (Disabled)
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                            data-target="#resetModal" title="Reset Interface"
                                            id="{{ i.intf }}" onclick="getID(this.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-x-circle btn-icon" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if i.ipaddr == device.host %}
                                    <!-- Disable SSH interface -->
                                    (Disabled)
                                {% else %}
                                    <form action="{% url 'interface' device_ID=device.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" id="interface" name="interface" value="{{ i.intf }}" hidden>
                                        <button type="submit" class="btn btn-info btn-sm " title="More Details">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-list btn-icon" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Active Interfaces -->
            <div class="col ml-2 widget table-responsive">
                <h3 class="title">Active IP Addresses</h3>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>Interface</th>
                        <th>IP Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in interfaces %}
                        {% if a.ipaddr != 'unassigned' %}
                            <tr>
                            <td>{{ a.intf }}</td>
                            <td>{{ a.ipaddr }}
                                {% if a.ipaddr == device.host %}
                                    (SSH IP)
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Bottom Widgets -->
        <div class="row d-flex">
            <!-- Device Security -->
            <div class="col text-left widget text-secondary">
                <h3 class="title">Device Security Features</h3>
                <div id="accordion" class="accordion accordion-device text-left">
                    <!-- Active Access Lists -->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Active Access Lists
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                <label class="font-weight-bold">Manage and Configure Device Access Lists</label><br>
                                {% for list in acl %}
                                    <label>{{ list.acl_type }} {{ list.acl_name }}</label>
                                    <p>{{ list.line_num }} {{ list.action }} {{ list.protocol }}
                                        {% if list.src_any %}
                                            {{ list.src_any }}
                                            {% if list.src_network %}
                                                {{ list.src_network }}
                                            {% endif %}
                                        {% else %}
                                            {{ list.src_host }}
                                        {% endif %}
                                        {% if list.dst_any == 'any' %}
                                            {{ list.dst_any }}
                                            {% if list.dst_network %}
                                                {{ list.dst_network }}
                                            {% endif %}
                                        {% else %}
                                            {{ list.dst_host }}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Config Access Lists -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Configure Access Lists
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="border border-secondary rounded">
                                    <div style="padding-top: 10px; padding-left: 10px; padding-right: 10px">
                                        <label class="font-weight-bold">Edit or Create New Access List</label>
                                        <form action="{% url 'create_acl' device_ID=device.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <div class="form-group col">
                                                    <label>Access List Type</label>
                                                    <select class="form-control" name="acl_type" required>
                                                        <option selected>--- Select ACL Type ---</option>
                                                        <option value="standard">Standard</option>
                                                        <option value="extended">Extended</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col">
                                                    <label>Access List Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Access List Name"
                                                           name="acl_name" required>
                                                </div>
                                            </div>
                                            <label>Access List Command</label>
                                            <input type="text" class="form-control"
                                                   placeholder="e.g. permit tcp any any" name="acl" required>
                                            <button type="submit" class="btn btn-success pad-btn btn-block"
                                                    id="button">Push
                                                Changes
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-arrow-right-square btn-icon" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                                <!-- Delete Access List -->
                                <div>
                                    <div class="border border-secondary rounded">
                                        <div style="padding-top: 10px; padding-left: 10px; padding-right: 10px">
                                            <label class="font-weight-bold">Delete Access List</label>
                                            <form action="{% url 'delete_acl' device_ID=device.pk %}" method="post">
                                                {% csrf_token %}
                                                <label>Select Access List</label>
                                                <select class="form-control" name="del_acl" required>
                                                    <option selected>--- Select ACL ---</option>
                                                    {% for list in acl %}
                                                        <option>{{ list.acl_type }} {{ list.acl_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit" class="btn btn-danger pad-btn btn-block"
                                                        id="button">Delete
                                                    Access
                                                    List
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-trash btn-icon"
                                                         viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                                        <path fill-rule="evenodd"
                                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Config Banners -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    Configure Banners
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">
                                <form action="{% url 'config_banner' device_ID=device.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Banner Type</label>
                                        <select class="form-control" name="banner_type">
                                            <option selected>--- Select Banner Type ---</option>
                                            <option value="login">Login</option>
                                            <option value="motd">MOTD</option>
                                            <option value="exec">EXEC</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Enter Banner</label>
                                        <input type="text" class="form-control"
                                               placeholder="Enter Banner Text" name="banner_txt">
                                    </div>
                                    <button type="submit" class="btn btn-success" id="button">Configure Banner
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-right-square btn-icon" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                        data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                    Disable Unused Interfaces
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordion">
                            <div class="card-body">
                                <label>Disable all interfaces not in use & not assigned with an IP
                                    addresses</label><br>
                                <a href="{% url 'disable_interfaces' device_ID=device.pk %}" type="button"
                                   class="btn btn-danger" id="button">Disable Interfaces
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-arrow-right-square btn-icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- NEW TABS HERE -->
                </div>
            </div>
            <div class="col ml-2 widget">
                <h3 class="title">CPU/Power Statistics</h3>
            </div>
        </div>
    </div>

    <!-- MODALS -->
    <!-- Interface Modal -->
    <div class="modal fade" id="interfaceModal" tabindex="-1" role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog model-sm" role="document">
            <form action="{% url 'config_interface' device_ID=device.pk %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title"></h5>
                        <input type="hidden" id="config" name="configInterface">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>IP Address</label>
                            <input type="text" class="form-control is-invalid" name="ip"
                                   placeholder="Enter IP Address" required>
                        </div>
                        <div class="form-group">
                            <label>Subnet Mask</label>
                            <input type="text" class="form-control is-invalid" name="mask"
                                   placeholder="Enter Subnet Mask" required>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="enable" checked>
                            <label class="form-check-label" for="flexCheckChecked">Enable Interface</label><br>
                            <label class="form-check-label text-danger font-weight-bold" for="flexCheckChecked">Warning!
                                Interface will be enabled by default</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="button">Confirm Changes
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-check-circle-fill btn-icon"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Reset Alert Modal -->
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog model-sm" role="document">
            <form action="{% url 'reset_interface' device_ID=device.pk %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning!</h5>
                        <input type="hidden" id="reset" name="resetInterface">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-danger">Resetting this interface will remove its IP address and shut this
                            interface down which may impact your network</h6>
                        <h6>Are you sure wish to proceed?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill btn-icon"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                            </svg>
                        </button>
                        <button type="submit" class="btn btn-success">Yes
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-check-circle-fill btn-icon"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>

<script>
    function getID(id) {
        document.getElementById("title").innerText = id;
        document.getElementById('config').value = id;
        document.getElementById('reset').value = id;
        document.getElementById('interface').value = id;
    }
</script>

{% include "footer.html" %}
</body>
</html>