<footer class="footer footer" id="footer">
    {% load static %}
    <div class="footer text-center py-3">All Rights Reserved, Copyright © 2020<br>
        <a href="https://github.com/jwhite96/COMP3000" target="_blank"> GitHub Repository</a>
    </div>

    <!-- Bootstrap & JQuery Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom JS File -->
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

</footer>