<footer class="footer footer" id="footer">
    <div class="footer text-center py-3">
        <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
            <a rel="license"
               href="http://creativecommons.org/publicdomain/zero/1.0/">
                <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0"/>
            </a>
            <br>
            To the extent possible under law,
            <a target="_blank" href="https://github.com/ClassicSmej/NetManager">James White</a>
            has waived all copyright and related or neighboring rights to NetManager.
            <br>
            This work is published from the United Kingdom under a CC0 1.0 Universal Licence.
        </p>
    </div>
</footer>