{% include "header.html" %}

<body class="bg-dark">
{% load static %}
{% include "navbar.html" %}

<main class="main">

    <div class="container-fluid">
        <div class="row text-center help">
            <div class="col">
                <h2 class="text-light help-title">Hello, How can we help you?</h2>
                <h5 class="text-light">Select from an option below</h5>
            </div>
        </div>

        <div id="accordion" class="accordion accordion-help text-left text-secondary">
            <div class="card ">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            Entering Device Management
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ol style="line-height: 250%">
                            <li>Navigate to the Home page</li>
                            <li>Navigate to the device list and press the 'Device Details' button<br>
                                <img src="{% static 'images/selectdevice.png' %}" alt="Image Not Found">
                            </li>
                            <li>You will then be redirected to that devices management page</li>
                            <img src="{% static 'images/manager.png' %}" alt="Image Not Found"
                                 style="height: 500px">
                        </ol>
                        <p class="text-danger font-weight-bold">If the device is 'Inactive', the details button will be
                            disabled<br>Check if the device is on and refresh the page until the connection status
                            changes to 'Active'<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Adding a New Device
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="font-weight-bold">All devices within your topology need to be added to the management
                            database to allow
                            connections and configurations</p>
                        <ol style="line-height: 250%">
                            <li>Navigate to the Device Manager page</li>
                            <li>STEP</li>
                            <li>STEP</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Editing Device Details
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <ol style="line-height: 250%">
                            <li>Navigate to the Device Manager page</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Configuring a Security Policy
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <ol style="line-height: 250%">
                            <li>Navigate to the Home page</li>
                            <li>Navigate to 'Security Policy'</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            Configuring an Interface
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <ol style="line-height: 250%">
                            <li>Navigate to the devices management page for the device you wish to configure<br>
                                *If you unsure how to do this, see 'Entering Device Management'
                            </li>
                            <li>From the 'Device Interfaces' tab, select the interface you wish to configure
                                <img src="{% static 'images/deviceint.png' %}" alt="Image Not Found"></li>
                            <li>In the interface configuration pop-up, specify the interfaces IP address, subnet mask
                                and enable status
                                <img src="{% static 'images/intconfig.png' %}" alt="Image Not Found"></li>
                            <li>Press the 'Confirm Changes' button to apply these changes to the interface
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                            Resetting an Interface
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        <ol style="line-height: 250%">
                            <li>Navigate to the devices management page for the device you wish to reset<br>
                                *If you unsure how to do this, see 'Entering Device Management' section
                            </li>
                            <li>From the 'Device Interfaces' tab, select the interface you wish to reset
                                <img src="{% static 'images/devicereset.png' %}" alt="Image Not Found"></li>
                            <li>The following pop-up will appear to confirm you want to reset this interface<br>
                                <img src="{% static 'images/intreset.png' %}" alt="Image Not Found"></li>
                            <li>Press 'Yes' to confirm interface reset
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn collapsed font-weight-bold" data-toggle="collapse"
                                data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                            Saving Configuration
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        <ol style="line-height: 250%">
                            <li>In the devices management page, navigate to 'Device Details'<br>
                                *If you unsure how to do this, see 'Entering Device Management'
                            </li>
                            <li>Press 'Save Device Configuration' to save the current configuration<br>
                                <img src="{% static 'images/saveconfig.png' %}" alt="Image Not Found"></li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- NEW HELP TABS HERE!-->

        </div>

        <div class="row text-center mb-3">
            <div class="col text-light">
                <h2 class="text-light help-title">Can't Find What You're Looking For?</h2>
                <h5 class="text-light">Send Us a Question</h5>
                <div class="question">
                    <form>
                        <label>Email Address</label>
                        <input type="email" class="form-control text-left" required>
                        <label>Question</label>
                        <textarea type="text" class="form-control text-left" required></textarea>
                        <button class="btn btn-success pad-btn btn-block">Submit Question</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>

{% include "footer.html" %}
</body>
</html>