{% include "header.html" %}

<html>

    <body class="bg-secondary">

    {% include "navbar.html" %}

        <main>
            <div class="row main shadow text-secondary bg-dark">
              <div class="col-4 border border-secondary top">col</div>
              <div class="col-8 border border-secondary top">Topology Display</div>
            </div>

            <div class="row main shadow text-secondary bg-dark">
              <div class="col border border-secondary bottom">col</div>
              <div class="col border border-secondary bottom">col</div>
              <div class="col border border-secondary bottom">col</div>
            </div>
        </main>

        {% include "footer.html" %}
    </body>
</html>
