{% include "header.html" %}

<body class="bg-dark text-center" xmlns="http://www.w3.org/1999/html">
{% load static %}
{% include "navbar.html" %}

<main class="main container-fluid bg-secondary">
    <div class="dashboard-top">
        <div class="row text-secondary bg-dark">
            <!-- Interface Details -->
            <div class="col-4 border-secondary grid-border table-responsive">
                <h3 class="title text-center text-secondary">Interface Details</h3>
                <table id="table" class="table table-striped table-dark">
                    <tbody>
                    {% for i in interface %}
                        <tr>
                            <td><b>Interface</b></td>
                            <td>{{ i.interface }}</td>
                        </tr>
                        <tr>
                            <td><b>Link Status</b></td>
                            <td>
                                {% if i.link_status == 'administratively down' %}
                                    {{ i.link_status }}
                                    <div class="status bg-warning"></div>
                                {% endif %}
                                {% if i.link_status == 'down' %}
                                    {{ i.link_status }}
                                    <div class="status bg-danger"></div>
                                {% endif %}
                                {% if i.link_status == 'up' %}
                                    {{ i.link_status }}
                                    <div class="status bg-success"></div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Protocol Status</b></td>
                            <td>
                                {% if i.protocol_status == 'down' %}
                                    {{ i.protocol_status }}
                                    <div class="status bg-danger"></div>
                                {% else %}
                                    {{ i.protocol_status }}
                                    <div class="status bg-success"></div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>IP Address</b></td>
                            <td>{% if i.ip_address == '' %}
                                No IP Address Assigned
                            {% else %}
                                {{ i.ip_address }}
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>MAC Address</b></td>
                            <td>{{ i.address }}</td>
                        </tr>
                        <tr>
                            <td><b>MTU</b></td>
                            <td>{{ i.mtu }}</td>
                        </tr>
                        <tr>
                            <td><b>Bandwidth</b></td>
                            <td>{{ i.bandwidth }}</td>
                        </tr>
                        <tr>
                            <td><b>Current Traffic In</b></td>
                            <td>{{ i.input_rate }} bps</td>
                        </tr>
                        <tr>
                            <td><b>Current Traffic Out</b></td>
                            <td>{{ i.output_rate }} bps</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Unknown -->
            <div class="col-5 border-secondary grid-border">
                <h3 class="title text-center text-secondary">WORKING ON IT</h3>
            </div>

            <!-- Access Lists -->
            <div class="col border-secondary text-left">
                <h3 class="title text-center text-secondary">Access Lists</h3>
                <table id="table" class="table table-striped table-dark text-center">
                    <thead>
                    <tr class="text-center">
                        <th>Inbound ACL</th>
                        <th>Outgoing ACL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for j in int_acl %}
                            {% if j.inbound_acl == '' %}
                                <td>No Inbound ACL Applied</td>
                            {% else %}
                                <td>{{ j.inbound_acl }}</td>
                            {% endif %}
                            {% if j.outgoing_acl == '' %}
                                <td>No Outgoing ACL Applied</td>
                            {% else %}
                                <td>{{ j.outgoing_acl }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <form action="{% url 'apply_acl' device_ID=device.pk %}" method="post">
                    {% csrf_token %}
                    {% for i in interface %}
                        <input type="hidden" id="Apply" name="int_acl" value="{{ i.interface }}">
                    {% endfor %}
                    <label class="text-light">Select Access List</label><br>
                    <select class="form-control" name="app_acl">
                        <option selected>---Select ACL---</option>
                        {% for list in acl %}
                            <option>{{ list.acl_name }}</option>
                        {% endfor %}
                    </select><br>
                    <label class="text-left text-light">Select Direction</label>
                    <select class="form-control" name="dir_acl">
                        <option selected>---Select In/Out---</option>
                        <option>In</option>
                        <option>Out</option>
                    </select><br>
                    <button type="submit" class="btn btn-warning btn-block">Apply Access List
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-shield-lock btn-icon" viewBox="0 0 16 16">
                            <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"></path>
                            <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
</body>
</html>
