{% include "header.html" %}

<body class="bg-dark text-center">

{% load static %}

<form class="form-group form-login">
    <img src="{% static 'images/logo-dark.png' %}" alt="NetManager" style="width:260px;height:60px;">
    <h3 class="font-weight-norma text-light form-content">Please sign in</h3>
    <label for="inputUser" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control border border-secondary" placeholder="Username" required
           autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control border border-secondary" placeholder="Password"
           required>

    <div class="form-content">
        <a class="text-light form-content" data-toggle="modal" data-target="#password" title="Forget Password">Forget
            Password?</a>
    </div>

    <!-- Forgotten Password Model -->
    <div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog model-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Forgotten Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    Please enter your email address to reset your password <br>
                    <label for="inputUser" class="sr-only">Username</label> <br>
                    <input type="text" id="email" class="form-control" placeholder="Email Address"> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign in Button -->
    <a class="btn btn-lg btn-primary btn-block btn-info" href="{% url 'index' %}" type="submit"
       title="Sign in">Sign in
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-forward-fill btn-icon" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"></path>
        </svg>
    </a>

</form>

{% include "footer.html" %}
</body>
</html>
