{% include "header.html" %}

<body class="bg-dark" onload="onLoad()">
{% load static %}
{% include "navbar.html" %}

<!-- Info Bar -->
<div class="info-bar bg-secondary">
    <h6 class="text-warning">The device manager will only make changes to devices on the database. Any changes made will
        <u>NOT</u> affect the configuration on the physical device</h6>
</div>

<!-- Main -->
<main class="main container-fluid">

    <!-- Device Table -->
    <div class="row mb-3">
        <table class="table table-dark">
            <thead>
            <tr class="text-center">
                <th>Device Name</th>
                <th>Device Type</th>
                <th>Vendor</th>
                <th>Management Address</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for i in all_devices %}
                <tr id="row{{ forloop.counter }}">
                    <td>
                        <input type="text" class="form-control border-secondary"
                               value="{{ i.device }}" form="form{{ forloop.counter }}" name="device" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control border-secondary"
                               value="{{ i.deviceType }}" form="form{{ forloop.counter }}"
                               id="type{{ forloop.counter }}" name="type" disabled>
                    </td>
                    <td>
                        <input type="text" class="form-control border-secondary"
                               value="{{ i.vendor }}" form="form{{ forloop.counter }}" id="vendor{{ forloop.counter }}"
                               name="vendor" disabled>
                    </td>
                    <td>
                        <input type="text" class="form-control border-secondary"
                               value="{{ i.host }}" form="form{{ forloop.counter }}" id="host{{ forloop.counter }}"
                               name="host" disabled>
                    </td>
                    <td>
                        <input type="text" class="form-control border-secondary"
                               value="{{ i.location }}" form="form{{ forloop.counter }}" id="loc{{ forloop.counter }}"
                               name="loc" disabled>
                    </td>
                    <td>
                        <input type="text" class="form-control border-secondary"
                               value="{{ i.contact }}" form="form{{ forloop.counter }}" id="cont{{ forloop.counter }}"
                               name="cont" disabled>
                    </td>
                    <td>
                        <form id="form{{ forloop.counter }}" action="{% url 'edit_device' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="button" title="Edit Device" id="{{ forloop.counter }}"
                                    onclick="edit(this.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil btn-icon" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                </svg>
                            </button>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" title="Delete Device" data-toggle="modal"
                                data-target="#DeleteModal" id="{{ i.device }}" onclick="getID(this.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash btn-icon" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                            </svg>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Add Device Button-->
        <div class="col-5 mx-auto justify-content-center">
            <button type="button" class="btn btn-success btn-block"
                    title="Add Device" data-toggle="modal"
                    data-target="#AddModal">Add New Device
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle-fill btn-icon" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
                </svg>
            </button>
        </div>
    </div>

    <!--MODALS-->
    <!-- Add Device Model -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog model-sm" role="document">
            <form action="{% url 'add_device' %}" method="post">
                {% csrf_token %}
                <div class="modal-content text-left">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New Device</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Device Name</label>
                            <input type="text" class="form-control is-invalid" name="name" required>
                            <label class="text-danger">This cannot be changed later</label>
                        </div>
                        <div class="form-group">
                            <label>Device Type</label>
                            <input type="text" class="form-control is-invalid" name="type" required>
                        </div>
                        <div class="form-group">
                            <label>Management IP Address</label>
                            <input type="text" class="form-control is-invalid" name="ssh" required>
                            <label class="text-danger">This is the IP address used to establish SSH connections to
                                the device. Ensure this is correct before proceeding</label>
                        </div>
                        <div class="form-group">
                            <label>Vendor</label>
                            <input type="text" class="form-control is-invalid" name="vendor" required>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" class="form-control is-valid" name="location" required>
                        </div>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" class="form-control is-valid" name="contact" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Add Device
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor"
                                 class="bi bi-arrow-right-square btn-icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Device Model -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog model-sm" role="document">
            <form action="{% url 'delete_device' %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title"></h5>
                        <input type="hidden" id="delete" name="device">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <h6 class="text-danger">Deleting this device will remove it from the device database. This
                            will not affect the network but will prevent connections to and from this device.</h6>
                        <h6>Are you sure you wish to proceed?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill btn-icon"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                            </svg>
                        </button>
                        <button type="submit" class="btn btn-success">Yes
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-check-circle-fill btn-icon"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script>

    function onLoad() {
        document.getElementById('footer').classList.add('fixed-bottom');
    }

    function getID(id) {
        document.getElementById('delete').value = id;
        document.getElementById('title').innerText = 'Delete Device: ' + id;
    }

    function edit(id) {
        // id = clicked button id

        // enable text boxes - not optimized
        document.getElementById('row' + id).classList.add('bg-secondary');
        document.getElementById('type' + id).disabled = false;
        document.getElementById('vendor' + id).disabled = false;
        document.getElementById('host' + id).disabled = false;
        document.getElementById('loc' + id).disabled = false;
        document.getElementById('cont' + id).disabled = false;

        // change button to submit
        const btn = document.getElementById(id)
        const submit = document.createElement('button');
        submit.classList.add('btn', 'btn-success');
        submit.setAttribute('type', 'submit');
        submit.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square btn-icon" viewBox="0 0 16 16">\n' +
            '  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>\n' +
            '</svg>';
        btn.parentNode.replaceChild(submit, btn);
    }
</script>

{% include "footer.html" %}
</body>
</html>
