{% include "header.html" %}

<body>
{% load static %}
{% include "navbar.html" %}

<div class="jumbotron jumbotron-fluid mb-0" style="background-color: #1c1f22">
    <div class="container" style="min-width: 100%">

        <h2 class="text-info font-weight-bold">Reports
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                 class="bi bi-file-earmark-text nav-icon" viewBox="0 0 16 16">
                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"></path>
                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"></path>
            </svg>
        </h2>
    </div>
</div>

<!-- Main -->
<main class="main container-fluid">

    <div class="widgets-grid">
        <div class="row">
            <!-- Audit Logs -->
            <div class="col widget table-responsive">
                <h3 class="title">Audit Logs</h3>
                <div class="card bg-dark text-left p-3 mt-3 mb-3">
                    <table id="Table" class="table table-dark table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Device</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Date/Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in config_logs %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.device }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.description }}</td>
                                <td>{{ i.date }} {{ i.time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <!-- Configuration Extract -->
            <div class="col widget">
                <h3 class="title">Export Device Configuration</h3>

            </div>
        </div>
    </div>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.24/af-2.3.5/b-1.7.0/b-html5-1.7.0/fh-3.1.8/rg-1.1.2/rr-1.2.7/sc-2.0.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.24/af-2.3.5/b-1.7.0/b-html5-1.7.0/fh-3.1.8/rg-1.1.2/rr-1.2.7/sc-2.0.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css"></script>

<script>

    $(document).ready(function () {
        $('#Table').DataTable({
            dom: 'Bfrtip',
            buttons: {
                buttons: [
                    {extend: 'excelHtml5', className: 'btn btn-info'},
                    {extend: 'csvHtml5', className: 'btn btn-info'},
                    {extend: 'pdfHtml5', className: 'btn btn-info'},
                ]
            }
        });
    });
</script>

{% include "footer.html" %}
</body>
</html>
