html {
  position: relative;
  min-height: 100%;
}

.btn-padding {
    margin-left: 15px;
    margin-right: 10px;
}

.icon {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
}

.main {
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.dark-mode {
  background-color: white;
  color: black;
}

.top {
    height: 750px;
}

.bottom {
    height: 500px;
}
