/* Custom CSS Stylesheet */

/* jump to section  */
html {
  scroll-behavior: smooth;
}

body {
    background-color: #6c757d !important;
    text-align: center !important;
    color: #f8f9fa !important;
}

/* light mode */
.bg-light {
    background-color: #f8f9fa !important;
}

.nav-light {
    background-color: white !important;
    color: #343a40 !important;
    box-shadow: 0 0 5px 5px lightgrey !important;
}

.link-light {
    color: #343a40 !important;
}

.link-light:hover {
    color: #17a2b8 !important;
}

.widget-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    box-shadow: 0 0 5px 5px lightgrey !important;
}

.title-light {
    color: #343a40 !important;
}

.table-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.textbox-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.footer-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
    box-shadow: 0 0 5px 5px lightgrey !important;
}

/* dark Mode */
.nav-dark {
    background-color: #343a40;
    color: black;
}

.link-dark {
    color: white;
}

.link-dark:hover {
    color: #17a2b8;
}

.widget {
    background-color: #343a40;
    border-radius: 5px;
}

.title-dark {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #6c757d;
}

.textbox-dark {
    background-color: #343a40;
    color: white;
}

.footer-dark {
    background-color: #343a40;
    color: white;
}

/* navbar */
.nav-info {
    padding: 6px;
    cursor: pointer;
}

.info {
    padding: 6px 10px;
    color: #6c757d;
}

.nav-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-icon {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
}

/* button icons */
.btn-icon {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
}

/* button padding */
.pad-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* login */
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 100px auto 0;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    padding: 10px;
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-content {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

/* logout page */
.logout {
    padding: 100px;
}

/* home page */
.jumbo {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: -25px;
}

.signup {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* widgets */
.widgets-grid {
    padding: 10px;
}

.modal {
    color: #343a40;
    text-align: left;
}


/* device page */
.accordion-device {
    margin-bottom: 20px;
}

/* help page */
.help {
    padding: 25px;
    min-width: 100%;
}

.help-title {
    padding: 10px;
}

.accordion-help {
    align-content: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;
}

.question {
    width: 650px;
    margin: auto;
}

/* Device Manager */
.info-bar {
    height: 25px;
    width: 100%;
    padding: 2px;
}

/* interface details page */
.status {
    margin-left: 5px;
    padding-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
