/* Custom CSS Stylesheet */

.html {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.main-div {
    min-height: 800px;
    border-style: hidden;
    border-width: 5px;
}

/* navbar */
.nav-info {
    padding: 6px;
    cursor: pointer;
}

.info {
    padding: 6px 10px;
}

.nav-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-icon {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 2px;
}

/* buttons */
.btn-icon {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
}

.pad-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* login */
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 100px auto 0;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    padding: 10px;
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-content {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

/* logout page */
.logout {
    padding: 100px;
}

/* dashboard page */
.dashboard-top {
    padding: 10px;
}

.dashboard-bottom {
    padding: 0 10px 10px;
}

.top {
    height: 600px;
    border-style: hidden;
    border-width: 5px;
}

.bottom {
    height: 600px;
    border-style: hidden;
    border-width: 5px;
}

.grid-border {
    border-right-style: solid;
    border-width: 10px;
}

.title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.device-list {
    padding: 10px;
    font-size: 14px;
    cursor: default;
}

/* removes padding from grids */
.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

/* removes padding from grids */
.no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* device page */
.accordion-device {
    margin-bottom: 25px;
}

/* help page */
.help {
    padding: 25px;
    min-width: 100%;
}

.help-title {
    padding: 10px;
}

.accordion-help {
    align-content: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;
}

.question {
    width: 650px;
    margin: auto;
}

/* Device Manager */
.device-row {
    min-width: 250px;
    padding-top: 10px;
}

.device {
    margin: 10px;
    width: 425px;
}


.btn-add {
    margin-top: 20px;
    margin-bottom: 5px;
}

.info-bar {
    height: 25px;
    width: 100%;
    padding: 2px;
}

/* interface details page */
.status {
    margin-left: 5px;
    padding-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}